<div class="footer bg-dark">
  <footer>
  <div class="section">
  <div class="container">

  <!-- row -->
      <div class="row ">
        <div class="col-md-3">
          <h3 class="footer-title" >Contact Us</h3>
            <ul class="footer-links"  style="list-style-type:none;">
              <li><a href="#"><i class="fa fa-map-marker"></i> Aurangabad</a></li>
              <li><a href="#"><i class="fa fa-phone"></i> +1800183256025</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i> booksworld@gmail.com</a></li>
            </ul>

        </div>

        <div class="clearfix visible-xs"></div>


        <div class="col-md-3">
          <h3 class="footer-title">Informations</h3>
            <ul class="footer-links"  style="list-style-type:none;">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>

         </div>
      </div>
  </div>
  </div>
  </footer>
  </div>

